body {
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: 'Roboto', monospace;
}

main {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
}

h2 {
    font-weight: 900;
    width: 100%;
}

a {
    color: rgb(0, 255, 123);
}

.logo {
    max-width: 300px;
}

.description {
    margin: 30px 0;
}

.profile-name {
    font-weight: 900;
    display: block;
}

.profile img {
    
}

.profile-picture {
    max-width: 100px;
}