body {
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: 'Roboto', monospace;
}::selection {
    background: rgb(0, 95, 8);
    color: #9bffa4;
}

main {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
}

h2 {
    font-weight: 900;
    width: 100%;
}

a {
    color: rgb(0, 255, 123);
}

.logo {
    max-width: 300px;
}

.description {
    margin: 30px 0;
}

.profile-name {
    font-weight: 900;
    display: block;
    color: rgb(0, 255, 123);
}

.profile {
    width: 100%;
}

.profile-picture {
    max-width: 100px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
    background: #000000;
}
  
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 255, 92);
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(37, 255, 92);
}